<div class="form-wrapper">
  <h1>Post a Photo</h1>
  <%= simple_form_for @post do |f| %>
    <div class="form-group"><%= f.input :image %></div>
    <div class="form-group"><%= f.input :caption %></div>
    <%= f.button :submit, :class => "btn btn-default" %>
  <% end %>
</div>