/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* COLOR VARIABLES */

$white: #fff;
$black: #000;
$light-gray: #f8f8f8;
$med-gray: #e8e8e8;
$link-color: #125688;

/* OTHER VARIABLES */

$main-font: proxima-nova, 'Helvetica Neue', Helvetica, sans-serif; 

/* SITEWIDE STYLING */

body {
  background-color: $light-gray;
  font-family: $main-font;
}

a {
  color: $link-color;
}

footer {
  background-color: $white;
  text-align: center;
  padding: 30px;
  margin-bottom: 0;
  margin-top: 60px;
  border-top: 1px solid $med-gray;
}

/* NAVBAR CUSTOMIZATIONS */

.navbar-default {
  background-color: $white;
  height: 54px;
  .navbar-nav li a {
    color: $link-color;
  }
}

.navbar-brand {
  color: $link-color; //not working for some reason
}

/* IMPORTS */

@import "posts";
@import "comments";
