.post {
  border: 1px solid $med-gray;
  border-radius: 3px;
  width: 640px;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
  p {
    margin-bottom: 0;
  }
}

.post-heading {
  background-color: $white;
  padding: 20px 15px;
}

.post-info {
  background-color: $white;
  padding: 20px 15px;
}