.post {
  border: 1px solid $med-gray;
  border-radius: 3px;
  width: 642px;
  margin: 0 auto;
  margin-bottom: 60px;
  overflow: hidden;
  background-color: $white;
  
  p {
    margin-bottom: 0;
  }
}

.post-heading {
  padding: 20px 15px;
  font-size: 15px;
  line-height: 18px;
}

.user-name {
  font-weight: 500;
}

.post-info {
  padding: 20px 15px;

  .user-name {
    margin-right: 0.5em;
    font-size: 15px;
  }
}

.comment {
  padding-top: 15px;
  font-size: 15px;
  line-height: 18px;
  width: 100%;
}

.delete-comment {
  float: right;
  color: #515151;
}

.comment-form-row {
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $med-gray;
}

#comment-content {
  border: none;
}

.edit-links {
  text-align: center;
}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid $med-gray;
  border-radius: 3px;

  h1 {
    text-align: center;
  }
}