.post {
  border: 1px solid $med-gray;
  border-radius: 3px;
  width: 640px;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: $white;
  
  p {
    margin-bottom: 0;
  }
}

.post-heading {
  padding: 20px 15px;
}

.post-info {
  padding: 20px 15px;
}

.edit-links {
  float: right;
}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid $med-gray;
  border-radius: 3px;

  h1 {
    text-align: center;
  }
}