<footer>
  <p>This site is an Instagram clone developed by <a href="http://chloeam.com">Chloe Atchue-Mamlet</a> in 2015 with tremendous help by the <a href="http://www.devwalks.com/lets-build-instagram-in-rails-part-1/">Devwalks tutorial</a>. View the <a href="https://github.com/chloeam/photogram">source code</a>.</p>
</footer>